.rainbowText {
  background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(0, 149, 255), rgb(189, 123, 0), red);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}